.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(to right, #009fff, #ec2f4b);
    color: white;
    padding: 20px;
    justify-content: center;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    /* margin-right: auto; */
}

